@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Megrim&display=swap");

* {
  margin: 0;
  font-family: "Fira Mono", monospace;
  box-sizing: border-box;

}

body {
  display: grid;
  grid-template-rows: 20% auto 1fr 5%;
  grid-template-areas:
    "."
    "container"
    "body"
    "footer";
  height: 100vh;
  background: linear-gradient(43deg, black, #373441);
}
#unitCalculator {
  width: 49em;
  height: 35em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#massContainer{display: flex;}
#bitContainer{display: flex;}
#AUContainer{display: flex;}
#reset {
  width: 4em;
  align-self: center;
}

.container1 {
  margin-top: 5em;
  margin-left: 2em;
}

#container {
  grid-area: container;
  font-family: Megrim, cursive;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#mainBody {
  grid-area: body;
}

#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
}

#title {
  font-size: clamp(2em, 4em, 5em);
  color: rgb(255, 255, 255);
  text-shadow: black 1px 1px;
  border-right: 2px solid white;
  padding: 1em 1.5em 1em 0.5em;
  border-radius: 3em;
}

#logo {
  width: 118px;
}
#resetBtn{
  display: flex;

}

#reset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4em;
  height: 1.8em;
  background-size: contain;
  background-color: rgb(25, 209, 205);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
select{
  width: 14em;
  border-radius: 0.9em;
  padding-left: 0.6em;
  height: 2em;
  border: none;
  margin-left: 5px;
}
input{     width: 14em;
  border-radius: 0.9em;
  padding-left: 1em;
  border: none;margin-left: 5px;}

#customContainer{
display: flex;
}

#lengthContainer{
  display: flex;
}